@import "../styles.scss";

:host {

	nav { 
		background-color: var(--cx-color-white); 
	}  	
	nav ul {
    	width: 100%;
	  	/*justify-content: flex-end;*/
  	}	
	nav ul li:first-child {
		margin-right: auto;
	}
	nav ul li:last-child {
		margin-right: auto;
	}
	nav ul li a { 
		background-color: transparent;
		text-transform: uppercase;
		color: var(--cx-color-almostblack);
		border-radius: 0;
    	/*font-family: $font-family;*/
		font-size: $font-size-15;
		letter-spacing: 0.5px;
		padding: 0 6px;
		
		&:hover {
    		background-color: transparent;
			color: var(--cx-color-green);
		}
	}
	nav ul li a.active {
		color: var(--cx-color-green);
	}
	/*
	nav ul li:first-child {
		flex-grow: 1;
	}		
	*/	
}

:host.header__top-navbar nav ul li a {
	padding: 0 5px;
}

:host.header__bottom nav ul {
	padding-bottom: 10px;
}
:host.header__bottom nav ul li:first-child a {
	height: 100%;
}
:host.header__bottom nav ul li a .item-icon {
	height: 50px;
}