@import "../styles.scss";

:host {

	nav { 
		background-color: var(--cx-color-white); 
	}  	
	nav ul {
    	width: 100%;
	  	/*justify-content: flex-end;*/
  	}	
	nav ul li a { 
		background-color: transparent;
		text-transform: uppercase;
		color: var(--cx-color-grey);
		border-radius: 0;
    	font-family: $font-family;
		
		&:hover {
    		background-color: transparent;
			text-decoration: underline;
		}
	}
	nav ul li a.active {
		text-decoration: underline;
	}
	/*
	nav ul li:first-child {
		flex-grow: 1;
	}		
	*/
	
}

:host.header__bottom nav ul {
	padding-bottom: 20px;
}