@import "../styles.scss";

:host {
	.search__text {
		color: var(--cx-color-almostblack);
		font-size: $font-size-20;
		letter-spacing: 0.5px;
	}
	.search__text-result {
		font-weight: 700;
	}
}

:host .search {
	margin: 24px 12px;
}

.breadcrumbs {
	width: 85%;
	font-size: $font-size-13;
}

.breadcrumbs .breadcrumb:first-child {
	padding-left: 15px;
}

.breadcrumbs .breadcrumb:not(:last-of-type){
	text-decoration: none;
}

.breadcrumbs .breadcrumb:last-of-type,
.breadcrumbs .breadcrumb:hover {
	color: var(--cx-color-green);
}

.guided-filter,
upscale-product-list {
	background-color: var(--cx-color-white) !important;
}

.guided-filter-trigger-text {
	font-size: $font-size-13;
	overflow: auto;
    text-overflow: clip;
    white-space: normal;
	color: var(--cx-color-almostblack);
	font-weight: 400;
	text-align: left;
}

.guided-filter-trigger-icon {
	order: 2;
	font-weight: 400;
	margin-right: 0;
	margin-left: 14px;
	font-size: 30px;
}

.guided-filter-trigger {
	border: none;	
	padding: 0 12px;
}

.guided-filter-chips .guided-filter-chip {
	font-size: $font-size-13;
	font-weight: 400;
}