@import "../styles.scss";

:host {
	background-color: yellow;
	background-color: var(--cx-color-red);		
	font-family: $font-family;
}

html, body, #upscale,
[_nghost-serverApp-c86] .header__top[_ngcontent-serverApp-c86], 
[_nghost-serverApp-c86],
[_nghost-serverApp-c85].header__bottom nav[_ngcontent-serverApp-c85],
[_nghost-serverApp-c56]:not(.showSettings) { 
	background-color: var(--cx-color-white); 
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85] {
	
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85]:hover {
    background-color: #1a1a1a;
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85],
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85]:hover {
	background-color: transparent;
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85] {
	text-transform: uppercase;
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85]:hover {
	text-decoration: underline;
}
[_nghost-serverApp-c86] {
	box-shadow: none;
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] {
	justify-content: flex-end;
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85]:first-child {
	flex-grow: 1;
}
.container[_ngcontent-serverApp-c220]  {
	max-width: 1200px;
}
.header__bottom nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] {
	padding-bottom: 20px;
}
.cdk-overlay-dark-backdrop {
	background: rgba(162, 162, 162, 0.5);
}
[_nghost-serverApp-c85] nav[_ngcontent-serverApp-c85] ul[_ngcontent-serverApp-c85] li[_ngcontent-serverApp-c85] a[_ngcontent-serverApp-c85],
[_nghost-serverApp-c56]:not(.showSettings) .content[_ngcontent-serverApp-c56],
[_nghost-serverApp-c55] .link[_ngcontent-serverApp-c55], [_nghost-serverApp-c55] .content[_ngcontent-serverApp-c55] a { 
	color: var(--cx-color-grey);
}
[_nghost-serverApp-c55] .link[_ngcontent-serverApp-c55]:hover,
[_nghost-serverApp-c55] .content[_ngcontent-serverApp-c55] a:hover { 
	text-decoration: none; 
}
[_nghost-serverApp-c56]:not(.showSettings) button[_ngcontent-serverApp-c56] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--cx-color-grey); 
}
[_nghost-serverApp-c56]:not(.showSettings) button[_ngcontent-serverApp-c56]:hover { 
	background-color: var(--cx-color-green); 
}