@import "../styles.scss";

:host {
	background-color: yellow;
}

:host {
	[_nghost-serverApp-c157] {
		background-color: --cx-color-red;
		background-color: green;
	}
}

[_nghost-serverApp-c157] {
	background-color: --cx-color-red;
	background-color: green;
}