@import "../styles.scss";

:host {
	color: var(--cx-color-grey);
	/*align-items: center;*/

	.product-detail-content.row {
		max-width: 1500px;		
		margin: 0 auto !important;
	}
	.product-detail-content .column:first-child {
		width: 33.3%;
	}
	
	.product-detail-content.row .column:nth-of-type(2) {		
		width: 66.6%;
		max-width: none !important;
		position: relative;
	}		
	
	.actions .actions__buttons,
	#upscale .pdp-add-to-cart-button {
		max-width: 320px;
		/*font-family: $font-family;*/
	}
	
	.image-column {
		height: 100%;
	}
}