@import "../../styles.scss";

:host {
  .article-headline.storybook-article-headline,
  .category-name.storybook-category-content-name,
  .storybook-article-content-headline,
  .storybook-article-content-sub-headline,
  .storybook-default-template-content-headline,
  .storybook-default-template-content-sub-headline,
  .storybook-image-content-headline,
  .storybook-image-content-sub-headline,
  .storybook-template-id-content-headline,
  .storybook-template-id-content-sub-headline,
  .storybook-category-content-headline,
  .storybook-category-content-sub-headline {
    color: var(--cx-color-storybook-text) !important;
  }

  .storybook-product-link-text-button, .storybook-add-to-cart-button {
    background-color: var(--cx-color-primary) !important;
    color: var(--cx-color-inverse) !important;
  }

  .storybook-product-content-headline,
  .storybook-product-content-sub-headline,
  .storybook-product-content-name,
  .original-price.storybook-product-content-original-price {
    color: var(--cx-color-text-secondary) !important;
  }

  .storybook-product-content-sale-price {
    color: var(--cx-color-light-text) !important;
  }

  .storybook-article-link-text-button,
  .storybook-default-template-link-text-button,
  .storybook-template-id-link-text-button,
  .storybook-category-link-text-button {
    background-color: var(--cx-color-storybook-text) !important;
    color: var(--cx-color-text-secondary) !important;
  }
}
