@import "../styles.scss";

:host {
    align-self: center;
    margin: 0 auto;
}
.search-bar {
	/*max-width: 300px;*/
	height: 28px;
	background-color: var(--cx-color-lightgrey);	
	
	&__input {
		margin-top: 0;
		font-size: $font-size-text;
		height: 26px;
	}
	&__icon {
		padding: 0 6px;
		width: auto;
		height: 20px;
		align-self: center;
	}	
}
.color-white {
	color: var(--cx-color-almostblack);
}

/*.navbar-width {
	width: auto;
}
*/