@import "../styles.scss";

:host.browse-category-card-color.default {
	min-height: 145px;
}
:host.browse-category-card-color.default .browse-category-name {
	font-size: $font-size-14;
	letter-spacing: 0.5px;
	font-weight: 300 !important;
}