@import "../styles.scss";

:host {
	.content .create-address-btn {
		margin-left: 0;
	}
	/*
	.content .address-listing__address {
		display: flex;
    	flex-direction: column;
    	justify-content: flex-end;
	}
	*/
	
	.content .address-listing__address {
		border-radius: 0;
		border: none;
	}

	.content .address-listing__address__row {
		position: relative;
	}
	
	.content .address-listing__address__default {
		position: absolute;
    	right: 0;
		font-size: $font-size-12;
	}
	
	.content .address-listing__buttons {
		justify-content: space-between;
	}
	
	.content .address-listing__buttons__delete {
		border: none;
		width: auto;
		font-size: $font-size-12;
		font-weight: 400;		
	}
	.content .address-listing__buttons__delete:hover {
		color: var(--cx-color-green);
	}
	
	.content .address-listing__buttons__edit {
		font-weight: 700;
		letter-spacing: 0.5px;		
		font-size: $font-size-14;
		width: 200px;
		border: 2px solid var(--cx-color-blue);
		background-color: var(--cx-color-blue);
		color: var(--cx-color-white);
	}	
	
	.content .address-listing__buttons__edit:hover {
		background-color: var(--cx-color-white);
		color: var(--cx-color-blue);
	}
	
	.select-input.country,
	.input-row [name=address-line2] {
		display: none;
	}
	
	.content .nothing-here {
		font-size: 0;
		border-top: 1px solid var(--cx-color-lightgrey);
    	color: var(--cx-color-almostblack);
	}
	
	.content .nothing-here:before {
		font-size: font-size-14;
		content: "Shranjenega nimate še nobenega naslova.";
	}
	
	.content .address-listing .create-address-btn {
		background-color: var(--cx-color-white);
		color: bar(--cx-color-blue);
		border: 2px solid var(--cx-color-blue);
	}
	
	.content .address-listing .create-address-btn:hover {
		background-color: var(--cx-color-blue);
		color: bar(--cx-color-white);
	}
	
	.content .address-listing .formgroup__cancel {
		border: none;
		font-size: 0;
	}
	.content .address-listing .formgroup__cancel:before {
		content: "Prekliči";
		font-size: $font-size-14;
	}
	.content .address-listing .formgroup__cancel:hover {
		color: var(--cx-color-green);
	}	
}