@import "../styles.scss";

:host {
	.ng-star-inserted > .attribute-details__banner-headline {
		display: none;
	}
		
	.attribute-details__body-html .html-container {
		color: var(--cx-color-grey);
	}
	
	.attribute-details__banner-headline,
	.attribute-details__body {
		padding-left: 0;
	}
}