@import "../styles.scss";

:host {
  .shopping-cart-icon__label {
    background-color: var(--cx-color-primary);
    color: var(--cx-color-inverse);

    &:hover {
      background-color: var(--cx-color-dark);
    }
  }
}

