@import "../styles.scss";

:host {
	max-width: 1500px;
    margin: 0 auto;
	width: 85%;
	/*font-family: $font-family;*/
	
	.breadcrumbs__link {
		color: var(--cx-color-green);
		text-decoration: none;
	}
	.breadcrumbs__link:hover {
		text-decoration: underline;
	}
}

.breadcrumbs {
	font-family: $font-family;
	width: 85%;
}

.breadcrumbs .breadcrumb:first-child {
	padding-left: 15px;
}

/*.breadcrumbs .breadcrumb:not(:last-of-type){
	text-decoration: none;
}

.breadcrumbs .breadcrumb:last-of-type {
	color: var(--cx-color-green);
}
*/