:root {
  --cx-color-primary: #000000;
  --cx-color-secondary: #005cc4;
  --cx-color-inverse: #ffffff;
  --cx-color-dark: #1a1a1a;
  --cx-color-background: #f5f5f5;
  --cx-color-text-secondary: #000000;
  --cx-color-text-primary: #424242;
  --cx-color-light-text: #d3d3d3;
  --cx-color-grey: #757575;
  --cx-color-item-background: #ffffff;
  --cx-color-storybook-text: #ffffff;
}