:root {
  	--cx-color-blue: #0066cc;
	--cx-color-green: #339933;
	--cx-color-lightgreen: #66cc00;
	--cx-color-cleargreen: #99ff66;
	--cx-color-red: #D32927;
	--cx-color-grey: #707070;
	--cx-color-white: #FFFFFF;
	--cx-color-black: #000000;
}

#upscale .storybook-component-headline {
	font-size: 26px;
}

.storybook-component-headline {
	font-size: 26px;
}

/*
$font-family: "Fira Sans", sans-serif;
$font-family-important: "Fira Sans", sans-serif !important;
*/