@import "../styles.scss";

:host {
	padding-bottom: 40px;
	border-bottom: 1px solid var(--cx-color-lightgrey);
	padding-left: 6px;
	padding-right: 6px;
	
	.product-tile {
		max-width: 160px;
	}
	
	.product {
		padding: 14px 6px;			
	}
}