@import "../styles.scss";

:host {
	padding-bottom: 40px;
	border-bottom: 1px solid var(--cx-color-lightgrey);
	padding-left: 6px;
	padding-right: 6px;
	
	.product-tile {
		max-width: 160px;
	}
	
	/*.products {
		justify-content: space-between;
	}*/
		
	.product-tile .name {
		text-align: center;
	}
	/*
	.products .product:last-child {
		margin-right: auto;
	}*/
}

.upscale-large-width :host .product,
.upscale-extra-large-width :host .product {	
	padding: 14px 6px;				
}

@media (min-width: 600px) and (max-width: 899px){
	:host {
		padding: 0 6px;
    	width: auto;
	}
	:host .product,
	.upscale-medium-width :host .product {
		width: 25%;
		padding: 14px 6px;
	}
}

@media (min-width: 900px) and (max-width: 1199px){
	:host .product {
    	width: 20% !important;
	}
}