@import "../styles.scss";

:host {
	.formgroup-input-container .formgroup__cancel {
		border: none;
	}
	.formgroup-input-container .formgroup__container-header {
		border-bottom: 2px solid var(--cx-color-almostblack);
    	color: var(--cx-color-almostblack);
	}
}